.event_card{
    /* display: inline-block; */
    display: flex;
    height: 200px;
    width: 214px;
    border: black solid 2px;
    flex-direction: column;
    float: left;
    box-sizing: border-box;
}

.sm_poster_evcard{
    background-image: url("./img1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 150px;
    border: black solid 2px;
}
.sm_info{
    height: 20%;
    border: black solid 2px;
}